.blinkingCursor {
  height: 100%;
  border-left: 1rem solid white;
  animation: blinking 0.5s infinite;
  opacity: 1;
}

@keyframes blinking {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .blinkingCursor {
    border-left: 2.5rem solid white;
  }
}
