.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "left right";
}

.header {
  grid-area: header;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
}

.left {
  grid-area: left;
  min-height: 100svh;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  justify-content: center;
  align-items: start;
  padding: 6rem;
}

.right {
  grid-area: right;
  min-height: 100svh;
  width: 60svw;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heart {
  animation: heartbeat 0.25s infinite alternate;
  transform-origin: center;
}

.tag {
  display: flex;
  align-items: center;
  font-size: large;
}

@keyframes heartbeat {
  to {
    transform: scale(1.2);
  }
}
