/* 3d wrapper */
.wrapper {
  --rotateX: 20deg;
  --rotateY: -20deg;
  --rotateDirection: 1;
  perspective: 1000px;
  perspective-origin: center;
}

.wrapper .card {
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX));
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.6s ease-in-out;
}

.wrapper.flipped .card {
  transform: rotateY(calc(var(--rotateDirection) * 180deg)) rotateX(0deg)
    rotateZ(0deg);
}

.card {
  --card-size: 25rem;
  border: 1px solid white;
  height: var(--card-size);
  width: calc(var(--card-size) * 1.75);
  border-radius: 0.625rem;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}

.card:hover {
  cursor:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='14' fill='none' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E")
      16 16,
    pointer;
}

.card .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}
.card .location {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  pointer-events: auto;
}
.location:hover {
  scale: 1.1;
}
.card .socials .social {
  text-decoration: none;
  z-index: 3;
  pointer-events: auto;
}
.social:hover {
  scale: 1.2;
}
.card .cardContent {
  color: white;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.cardBack {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
}
.card .cardContent .fullName {
  font-weight: 700;
  text-shadow: 10px 10px 20px #000;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .cardContent .designation {
  margin-top: 3rem;
  font-weight: 700;
  text-shadow: 30px 30px 30px #000;
  font-size: 20px;
  letter-spacing: 5px;
}
.card .cardContent .skills {
  padding: 0 2rem;
  margin-top: 2rem;
  font-weight: 900;
  text-shadow: 10px 10px 20px #000;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 20px;
  text-align: center;
}
.card .bgImage {
  background-image: url("@assets/colors.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 0.625rem;
  background-position: center;
  background-size: cover;
  filter: blur(10px);
}
.card .blurBgImage {
  background-image: url("@assets/colors.jpg");
  height: 100%;
  width: 110%;
  position: absolute;
  z-index: 0;
  left: -5%;
  right: -5%;
  border-radius: 0.625rem;
  background-position: center;
  filter: blur(100px);
}

.cardBack .url {
  color: white;
  text-decoration: none;
  font-size: larger;
  letter-spacing: 2px;
  font-weight: 900;
  text-shadow: 10px 10px 20px #000;
}

.url:hover,
.url:focus,
.url:active {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.tapFont,
.scanFont {
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.wrapper:hover + .tapFont {
  opacity: 0;
}

.wrapper:hover + .scanFont {
}
