$card-size: 25rem;
$bg-img: "@assets/colors.jpg";

.card {
  border: 1px solid white;
  height: $card-size;
  width: calc($card-size * 1.75);
  border-radius: 0.625rem;
  position: relative;
  pointer-events: none;

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;

    .social {
      text-decoration: none;
      z-index: 3;
      pointer-events: auto;
    }
  }

  .cardContent {
    color: white;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .profilePic {
      height: 10rem;
      width: 10rem;
    }

    .semi {
      font-family: "DM Sans", sans-serif;
      font-weight: 1000;
      font-size: 80px;
      text-shadow: 20px 20px 20px #000;
    }

    .fullName {
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      text-shadow: 10px 10px 20px #000;
      font-size: 50px;
      letter-spacing: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .designation {
      margin-top: 3rem;
      font-weight: 700;
      text-shadow: 30px 30px 30px #000;
      font-size: 20px;
      letter-spacing: 5px;
    }

    .skills {
      padding: 0 2rem;
      margin-top: 2rem;
      font-weight: 900;
      text-shadow: 10px 10px 20px #000;
      font-size: 20px;
      letter-spacing: 2px;
      word-spacing: 20px;
      text-align: center;
    }
  }

  .bgImage {
    background-image: url($bg-img);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 0.625rem;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
  }

  .blurBgImage {
    background-image: url($bg-img);
    height: 100%;
    width: 110%;
    position: absolute;
    z-index: 0;
    left: -5%;
    right: -5%;
    border-radius: 0.625rem;
    background-position: center;
    filter: blur(100px);
  }
}
